.container 
  width: 85%
  max-width: 1256px
  margin: auto
  &__header
    // margin-left: 5.85rem
    width: 100%
    // padding-right: 17px
    // padding-left: 
    max-width: 1356px
  &--hero-centered
    margin-left: 5.9rem
    // padding-bottom: 5.8rem
    padding-top: 0.4rem
  