.container 
  width: 85%
  max-width: 1256px
  margin: auto
  &--hero-centered
    margin-left: 5.9rem
    // padding-bottom: 5.8rem
    padding-top: 0.4rem
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
  &--types
    margin-left: 2px
.col
  &-32
    flex-basis: 31.7%
  &-50
    width: 50%
  &-45
    width: 45%
  &-55
    width: 55%