@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 570px )
  .menu
    &__logo
      padding-left: 0
    &__contacts
      padding-right: 0.1rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.7rem
    letter-spacing: 1.8px
    line-height: 1.48
    &--primary
      font-size: 1.66rem
  .hero
    height: auto
    padding-bottom: 4rem
    &__scroll-down
      display: none
    &__content
      max-width: 100%
      margin-right: 0
    &__title
      max-width: 340px
      font-style: normal
      font-weight: normal
    &__text
      max-width: 26.7rem
      margin-top: 1.05rem
      margin-bottom: 2.55rem
      line-height: 1.39
      font-size: 1.5rem
    &__button
      display: block
      width: 100%
      margin-bottom: 2.24rem
      font-size: 1.12rem
      &--big
        font-size: 1.07rem
  .container
    margin-left: 5%
    margin-right: 5%
    width: 90%
    &--hero-centered
      margin-top: 4.8rem
  .description
    font-size: 1.25rem
    max-width: 25rem
    line-height: 1.45




@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none

// CONTROL SECTION
@media screen and ( max-width: 640px )
  .control
    background-color: $dark
    padding-bottom: 0
    &__video
      min-height: 24.28rem
    &__form
      align-items: stretch
      color: $light
    &__text
      color: $light
    &__label
      color: $secondary
    &__input
      border-bottom: 1px solid rgba(255, 255, 255, 0.45)
      width: 100%
      color: $light
      &::placeholder
        color: $light
      &-group
        flex-basis: 100%
        &:first-of-type
          margin-bottom: 5.25rem
    &__form
      display: flex
      flex-direction: column
      max-width: 55rem
      margin: auto
    &__button
      order: 3
      font-weight: 500
      font-size: 15px
      padding-top: 1.6rem
      padding-bottom: 1.6rem
      margin-bottom: -2.2rem
    &__policy-label
      margin-bottom: 5.2rem
    &__policy
      margin-top: 0.5rem
      align-self: start
    &__success
      color: $light
      padding-bottom: 10rem
  .video
    &__play
      height: 60px
      width: 60px

@media screen and ( max-width: 520px )
  .control
    &__video
      min-height: 17.25rem

// TYPES SECTION
@media screen and ( max-width: 992px )
  .section-title
    font-size: 1.22rem
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 6.85rem
    &__section-title
      margin-bottom: 3.2rem
    &__container
      width: 90.5%
  .card
    &__text
      margin-left: 0
      margin-top: -12rem
      max-width: 22.5rem
      padding: 1.9rem 2.7rem
    &__title
      font-size: 1.24rem
      font-weight: 400
    &__list
      margin-bottom: 1.3rem
    &__pricetag
      padding: 1rem 2.65rem
      font-size: 1.25rem


// ORDER SECTION
@media screen and ( max-width: 1300px )
  .order
    &__step
      max-width: 20.57rem
// @media screen and ( max-width: 1230px )
  // .order
  //   &__step
  //     &--03
  //       max-width: 15rem
@media screen and ( max-width: 1200px )
  .order
    background-position: -200px center
    &__step
      max-width: 26rem
      &--01
        top: 96px
        left: 215px
      &--02
        top: 215px
        left: 290px
      &--03
        top: 376px
        left: 315px
      &--04
        top: 530px
        left: 250px
@media screen and ( max-width: 992px )
  .order
    display: none

// STYLISATION SECTION
@media screen and ( max-width: 1350px )
  .stylisation
    &__section-title
      font-size: 22px
      max-width: 350px
@media screen and ( max-width: 1300px )
  .stylisation
    &__tab-1
      margin-bottom: 0
      margin-top: 0
    &__tab-2
      margin-bottom: 0
      margin-top: -2.9rem
    &__image
      min-width: 312px
@media screen and ( max-width: 1200px )
  .stylisation
    &__right-col
      flex-basis: 45%
    &__center-col
      display: none
    &__left-col
      flex-basis: 45%
    &__list
      margin-bottom: 18rem
@media screen and ( max-width: 992px )
  .stylisation
    background: $light
    padding-bottom: 20rem
    &__right-col
      display: none
    &__center-col
      display: none
    &__left-col
      display: none
    &__swiper
      display: block



// DESIGN SECTION
@media screen and ( max-width: 992px )
  .design
    background-color: $black
    padding-bottom: 0
    padding-top: 18rem
    margin-top: -30rem
    &__card
      margin-bottom: 6.85rem
    &__section-title
      margin-bottom: 1.4rem
      color: $light
    &__description
      color: $light
    &__container
      width: 90.5%

// PROJECTS SECTION

@media screen and ( max-width: 992px )
  .swiper-slide
    &__text-wrapper
      min-width: 310px

@media screen and ( max-width: 960px )
  .projects
    &__section-title
      text-align: left
    &__row
      max-height: 1000px
      align-items: center
    &__col-45
      order: 1
      max-width: 100%
    &__col-55
      max-width: 100%
      margin-bottom: 2rem
    &__title-col
      max-width: 100%
    &__swiper-button-prev
      left: 50%
      transform: translateX(-100px) 
  .swiper
    &-slide
      &__text-wrapper
        margin: auto
    // &-button 
    //   &-prev
    //     left: 50%
    //     transform: translateX(-100px) 
      
// SWIPER
@media screen and ( max-width: 640px )
  .swiper
    &-slide
      &__text-wrapper
        margin: auto
        width: 100%  
  .section
    &-title
      &--left
        text-align: center
      &__word
        display: block
        &::after
          content: none
  .projects
    padding-top: 2.57rem
  .hero::after
    content: none

// STEPS SECTION
@media screen and ( max-width: 992px )
  .steps
    display: none

// TEAM SECTION

@media screen and ( max-width: 992px )
  .team
    background-color: $black
    &__card
      margin-bottom: 9rem
    &__section-title
      margin-top: 0
    &__text
      display: none
@media screen and ( max-width: 370px )
  .team
    &__icon
      left: 0

@media screen and ( max-width: 570px )
  .reviews
    display: none


// FOOTER SECTION
@media screen and ( max-width: 570px )
  .footer
    background: $black
    &__menu
      display: none
      width: 90%
      margin: auto
    &__wrap
      transform: translateY(0)
      background: $black
      padding: 0
    &__title
      margin-top: 0
    &__input-group
      flex-basis: 100%
      &--full-width
        margin-bottom: 1rem
    &__policy-label
      justify-content: flex-start
    &__button
      display: block
      width: 100%
    &__input
      border-color: rgba($light, 0.5)
    &__map-wrap
      margin-bottom: 0
      margin-top: 0
    &__map
      max-height: 300px
      max-width: 100%
      margin-bottom: 2rem
  .map-wrap
    &__head
      order: 1
    &__header
      max-width: 28.3rem
@media screen and ( max-width: 760px )
  .lines-hero
    display: none
  .lines-control
    display: none
  .lines-design
    display: none
  .lines-steps
    display: none

