.footer
  background: linear-gradient(rgba($dark, 0.6), rgba($dark, 0.8)), url('../img/footer-bg.jpg') no-repeat center / cover
  &__container
    background: $dark
  &__wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    padding: 1.2rem
    margin-bottom: 3.71rem
    transform: translateY(-15.8rem)
  &__title
    text-transform: uppercase
    font-family: "Yeseva One", cursive
    font-style: normal
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-bottom: 3.214rem

  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.1rem
      &--full-width
        flex-basis: 100%
  &__policy
    flex-basis: 100%
    margin-bottom: 3.7rem
    margin-top: 0.2rem
    &-label
      justify-content: center
  &__button
    margin: auto
    padding: 1.15rem 4.3rem
    font-size: 1.13rem
  &__menu
    background-color: $dark
    padding: 3.285rem 0
    max-width: 1356px
    margin: auto
  &__logo
    padding-left: 3.5rem
  &__contacts
    padding-right: 3.6rem
  &__map-wrap
    margin: auto
    margin-top: -16rem
.map-wrap
  display: flex
  flex-direction: column
  align-items: center
  max-width: 66rem
  margin-bottom: 4rem
  &__head
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 2.2rem
  &__header
    max-width: 35rem
    font-family: "Yeseva One", cursive
    font-style: normal
    font-weight: normal
    font-size: 1.428rem
    line-height: 2rem
    text-transform: uppercase
    color: $primary
    text-align: center
    margin-top: 0
  &__icons
    display: flex
    width: 71px
    justify-content: space-between