.order
  background: url(../img/order/bg-order.png) no-repeat left
  position: relative
  margin-top: 140px
  &__wrap
    // position: relative
  &__step
    position: absolute
    display: flex
    &--01
      top: 137px
      left: 415px
      max-width: 26rem
    &--02
      top: 258px
      left: 490px
    &--03
      top: 418px
      left: 515px
    &--04
      top: 570px
      left: 450px
      max-width: 21rem
  &__text
    font-style: normal
    font-weight: 600
    font-size: 1.285rem
    line-height: 1.5rem

  &__dialog
    position: relative
    max-width: 36.36rem
    height: 38.85rem
    background: $dark url('../img/bg-lines.svg') no-repeat center
    padding: 2.36rem 3.5rem 1.92rem
    color: $light
  &__close
    position: absolute
    top: 0
    right: 0
    height: 28px
    width: 28px
    background: transparent url('../img/close.svg') no-repeat center
    border: none
    margin: 12px
    cursor: pointer
  &__title
    max-width: 21.42rem
    margin: auto
    margin-bottom: 2.42rem
    font-style: normal
    font-weight: 500
    font-size: 1.428rem
    line-height: 1.78rem
    text-align: center
    &--success
      margin-top: 2rem
      margin-bottom: 2rem
      font-size: 2rem
      color: $primary
      margin-bottom: 2rem
  &__form
    display: flex
    flex-direction: column
  &__input
    &-group
      display: flex
      flex-direction: column
      margin-bottom: 3.43rem
      &:last-of-type
        margin-bottom: 1.15rem
  &__policy
    margin-bottom: 2.7rem
  &__button
    align-self: flex-end
    font-style: normal
    font-weight: 500
    font-size: 0.928rem
    line-height: 1.285rem
    text-transform: uppercase
    padding: 1.2rem 3rem
  &__advantage
    display: flex
    justify-content: center
    align-items: center
    margin-top: 2.7rem
    &-icon
      background-color: $primary
      color: $light
      border-radius: 50%
      height: 72px
      width: 72px
      padding: 16px
      margin-right: 25.5px
    &-text
      max-width: 22.7rem
      font-style: normal
      font-weight: 500
      font-size: 1.428rem
      line-height: 1.785rem
      color: $primary
      text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15)
