.projects
  padding-top: 9.2rem
  &__container
    max-width: 1234px
    width: 90%
  &__section-title
    font-size: 1.74rem
    margin-top: 0
    margin-bottom: 1.5rem
    line-height: 148%
  &__description
    text-align: left
    font-size: 1.28rem
    line-height: 2.08rem
    max-width: 31.57rem
    margin-bottom: 2.05rem

.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto
  bottom: -1px
.swiper
  &-slide
    
    display: flex
    flex-wrap: wrap
    overflow: hidden
    &__text
      flex-basis: 50%
      margin-bottom: 0.42rem
      padding-bottom: 2rem
    &__heading
      font-size: 1.26rem
      line-height: 1.78rem
      font-family: 'Yeseva One', cursive
      color: $primary
      text-transform: uppercase
      margin-bottom: 0.64rem
  &-pagination
    &-bullets
      width: auto
    &-bullet
      background-color: rgba($light, 0.3)
      &-active
        background-color: $light
  &-button
    &-prev, &-next
      bottom: 0
      top: auto
      background-size: 42px 
      width: 42px
      height: 14px
      &::after
        display: none
    &-prev
      left: 0
      background: url('../img/arrow-prev.svg') no-repeat center
    &-next 
      background: url('../img/arrow-next.svg') no-repeat center